
h1{
	font-size: 64px;
	color:white;
	background-color:black;
	text-align:center;
}
a{
	font-size: 32px;
	color:white;
	background-color:black;
	text-align:center;
	vertical-align: middle;
}

p{
	padding-top: ;
	padding-left:device-width/2;
}
body
{

}

section
{
	size:device-height device-width;
	
}

.myDiv 
{
	size:device-height device-width;
}

div {
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
