
h1{
	font-size: 64px;
	color:black;
	background-color:black;
	text-align:center;
}
a{
	font-size: 32px;
	color:black;
	background-color:black;
	text-align:center;
	vertical-align: middle;
}

p{

}
body
{

}

section
{
	size:device-height device-width;
	
}

.myDiv 
{
	size:device-height device-width;
}

div {
    background: white;
}
